{
    "env": {
        "production": {
            "minified": true,
            "comments": false
        }
    },
    "presets": ["env"],
    "plugins": [
        "transform-runtime",
        "syntax-dynamic-import"
    ]
}