{
    "env": {
        "production": {
            "minified": true,
            "comments": false,
            "compact": true
        }
    },
    "plugins": [
        "transform-runtime",
        "syntax-dynamic-import"
    ],
    "presets": [["env", {
        "debug": true
    }]]
}