{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<div class="fields-wrapper flex-box flex-row">
  {{#each fields}}
    <div class="field-wrapper flex-size-1 {{extraClass attributeType}} {{#isInvalidField validationState.hasEmptyMandatoryValue validationState.hasMissingAttachments highlightInvalidFields}}invalid-field{{/isInvalidField}}">
      <form-validation-icon
        {mandatory}="mandatory"
        {validation}="validationState"
      >
      </form-validation-icon>
      <div class="field__title form-field__title">
        <label class="field__title-text {{extraClass attributeType}}" for="form-field-{{customAttributeId}}">
          {{title}}
          {{#if mandatory}}
            <i class="fa fa-asterisk field__mandatory"></i>
          {{/if}}
        </label>
      </div>
      {{#if canEdit}}
        <custom-attributes-field
          {type}="attributeType"
          {value}="value"
          {field-id}="customAttributeId"
          {placeholder}="placeholder"
          {options}="multiChoiceOptions"
          (value-changed)="fieldValueChanged(%event, %context)"
	        class="form-field__content {{extraClass attributeType}}"
        ></custom-attributes-field>
        {{#if validationState.hasMissingAttachments}}
          <div class="form-field__validation-hint-placeholder">
            <button class="btn btn-small btn-link btn-link-nopadding" ($click)="showRequiredInfoModal(%event, %context)">Add required info</button>
          </div>
        {{/if}}
        {{#isInvalidField validationState.hasEmptyMandatoryValue validationState.hasMissingAttachments highlightInvalidFields}}
          <form-validation-text
            {validation}="validationState"
            {type}="attributeType">
          </form-validation-text>
        {{/isInvalidField}}
      {{else}}
        <custom-attributes-field-view
          {type}="attributeType"
          {value}="value"
          class="form-field__content {{extraClass attributeType}}"
        ></custom-attributes-field-view>
      {{/if}}
    </div>
  {{/each}}
</div>
