{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}
{{#each items}}
<div class="ggrc-form-item">
  <div class="ggrc-form-item__row {{#if validationState.hasEmptyMandatoryValue}}field-failure{{/if}}">
    <label for="form-field-{{customAttributeId}}" class="form-label required-label ggrc-form-item__label">
      <span class="ggrc-form-item__label-text">{{title}}</span>
      {{#if mandatory}}
	<i class="fa fa-asterisk"></i>
      {{/if}}
    </label>
    <div class="ggrc-form-item__small-text">
      <small>
	<em>{{helptext}}</em>
      </small>
    </div>
    <custom-attributes-field
      {type}="attributeType"
      {(value)}="value"
      {field-id}="customAttributeId"
      {placeholder}="placeholder"
      {options}="multiChoiceOptions"
      (value-changed)="updateGlobalAttribute(%event, %context)"
      class="form-field__content {{extraClass attributeType}}"
    ></custom-attributes-field>
    {{#if validationState.hasEmptyMandatoryValue}}
      <div role="alert">{{errorMessage attributeType}}</div>
    {{/if}}
  </div>
</div>
{{/each}}
